@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #eeeeee;
}

/******************************************************************************/
/************************   Header    *****************************************/
/******************************************************************************/

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1rem 1.5rem;
    background: #335D9F;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-toggle {
    height: 0;
    display: none;
    cursor: pointer;
}

header h2 {
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
}

header label i {
    font-size: 18px;
    padding-right: 1rem;
    cursor: pointer;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-top: 0px;
    margin-left: 520px;
    height: 30px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper i {
    display: inline-block;
    padding: .4rem .5rem;
    font-size: 19.5px;
    background:#fff;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.notif-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: -33px;
    margin-left: 1050px;
    padding-bottom: 20px;
    border-radius: 30px;
    height: 10px;
    z-index: 400;
    cursor: pointer;
}

.noti-bell i {
    color: #fff;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

.noti-bell {
    background: #335D9F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #335D9F;
    border-radius: 20px;
    margin-top: 5px;
    padding: 6px;
    cursor: pointer;
    transition: left 0.5s;
}

.notif-wrapper :hover {
    background: #7EA3D5;
}

.notif-wrapper .notif-menu {
    position: absolute;
    top: 55px;
    right: -80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 5px;
    background: #7EA3D5;
    color: #fff;
    width: 200px;
    box-sizing: 0 10px 40px rgba(0,0,0,0.10);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.notif-wrapper .notif-menu.active {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.notif-wrapper .notif-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 90px;
    width: 20px;
    height: 20px;
    background: #7EA3D5;
    transform: rotate(45deg);
}

.notif-wrapper .notif-menu h3 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
    font-weight: 500;
    color: #fff;
    line-height: 1.2em;
}

.user-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: -36px;
    margin-left: 1100px;
    height: 5px;
    z-index: 300;
}
.user-wrapper img {
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-wrapper small {
    display: inline-block;
    color: #ccc;
    font-size: 12px;
}

.user-wrapper h4 {
    color: #fff;
    font-size: 14px;
}

.select {
    background: #335D9F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #335D9F solid;
    border-radius: 20px;
    margin-top: 5px;
    padding: 6px;
    cursor: pointer;
    transition: left 0.5s;
}

.select:hover {
    background: #7EA3D5;
}

.user-wrapper .prof-menu {
    position: absolute;
    top: 20px;
    right: -15px;
    padding: 0px 10px;
    background: #7EA3D5;
    width: 200px;
    box-sizing: 0 10px 40px rgba(0,0,0,0.10);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.user-wrapper .prof-menu.active {
    top: 55px;
    visibility: visible;
    opacity: 1;
}


.user-wrapper .prof-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 90px;
    width: 20px;
    height: 20px;
    background: #7EA3D5;
    transform: rotate(45deg);
}

.user-wrapper .prof-menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 1.2em;
}

.user-wrapper .prof-menu h3 i {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.user-wrapper .prof-menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 2px solid rgba(0,0,0,0.125);
    display: flex;
    align-items: center;
}

.user-wrapper .prof-menu ul li i {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
    color: #fff;
}

.user-wrapper .prof-menu ul li:hover i {
    opacity: 1;
}

.user-wrapper .prof-menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

.user-wrapper .prof-menu ul li i:hover {
    color: #335D9F;
}

/******************************************************************************/
/********************   Main Body (EDIT PROFILE)    ***************************/
/******************************************************************************/

.page-head {
    margin-top: 55px;
    height: 11vh;
    width: 100%;
    padding: 1rem 1.5rem;
    background: #fff;
    position: fixed;
    border-bottom: 1px solid #BEBEBE;
    top: 0;
    left: 0;
    z-index: 1;
    transition: left 0.5s, width 0.5s;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 40px;
}

.page-title h2 {
    color: #2f0140;
    font-weight: 100;
    font-size: 20px;
}

.list-group-item {
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
}

.list-group-item.active {
    background-color: #f8f9fa;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    border-radius: 0;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-default:hover {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}

/******************************************************************************/

.container {
    background: #fff;
    width: 850px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    margin-top: 6%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

.leftbox {
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 25%;
    height: 110%;
    background: #335D9F;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
    border: .1em solid #fff;
}

.leftbox nav a {
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
}

.leftbox nav a:hover {
    color: #7EA3D5;
    cursor: pointer;
    transform: scale(1,2);
}

.leftbox nav a:first-child {
    margin-top: 7px;
}

.leftbox nav a.active {
    color: #7EA3D5;
}

.rightbox {
    width: 60%;
    margin-left: 30%;
}

.tabShow {
    transition: all .5s ease-in;
    width: 80%;
}



/******************************************************************************/
/************************   MAIN    *******************************************/
/******************************************************************************/

main {
    margin-top: 60px;
    padding: 2rem 1.5rem;
    width: 100%;
    height: 100vh;
}

/******************************************************************************/
/************************   Footer    *****************************************/
/******************************************************************************/

#ICTDU-foot {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 1rem 1.5rem;
    background: #335D9F;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logoICTDU {
    border-radius: 10px;
    margin-top: -8px;
}

.copyright {
    position: absolute;
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
}

.copyright a {
    position: relative;     
    font-size: 1rem;
    color: 	#fff;
    text-decoration: none;
}

